@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --resultAndTip:hsl(183, 100%, 15%);
    --bodyBack:hsl(185, 41%, 84%);
    --whiteBack:hsl(0, 0%, 100%);
    --inputsBack:hsl(189, 41%, 97%);

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: var(--bodyBack);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#tips-calculator{
    background-color: var(--whiteBack);
    width: 950px;
    border-radius: 20px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.input-side, .result-side{
    width: 50%;
    height: 450px;
}
.input-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}
.input-side .information{
    display: flex;
    flex-direction: column;
    gap:5px;
    color:hsl(184, 14%, 56%);

}
.inputs{
    width: 350px;
    padding: 15px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color:  hsl(0, 0%, 97%);

    &:focus{
        border: 1px solid #21c2aa;
    }
}
.about{
    display: flex;
    flex-direction: column;
    gap: 15px;
    & p{
        color:hsl(184, 14%, 56%);
    }
    & .tips{
        display: flex;
        width: 350px;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 10px;
        & .tip{
            width:100px ;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            transition: all .1s ease-in;
            &:hover{
                background-color: hsl(184, 56%, 74%);
                color: black;
            }
        }
        & .custom{
            background-color: hsl(0, 0%, 97%);
            color: hsl(184, 14%, 56%);
            cursor: pointer;
            &:hover{
                background-color: hsl(0, 0%, 97%);
            }
        }
    }
}
.tip{
    background-color: hsl(183, 100%, 15%);
    color:#FFF;
}
.custom input{
    background-color: transparent;
    border: none;
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.result-side{
    display: flex;
    padding: 45px;
    background-color: var(--resultAndTip);
    color: var(--whiteBack);
    border-radius: 15px;
}
.inner-res{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.totalAndTip{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.tipAmount{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    & span{
        color: hsl(184, 14%, 56%);
        font-size: 13px;
    }
}
.priceTip, .priceTotal{
    color:#21c2aa;
    font-size: 40px;
}
.reset button{
    width: 100%;
    padding: 15px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #21c2aa;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1 ease-in;
    &:hover{
        background-color: hsl(184, 14%, 56%);
        color: var(--whiteBack)
    };
}

.salam{
    background-color: hsl(184, 56%, 74%);
    color: black;
}

